.root{
	-fx-background-color: #1d241f;
	-fx-control-inner-background: #1d241f;
	-fx-font-size: 5pt;
}

.updatedRow{
	-fx-background-color: #39473d;
	-fx-control-inner-background: #39473d;
	-fx-font-size: 5pt;
}

.filter {
    -fx-font-size: 15px;
    -fx-font-family: "Ariel";
    -fx-text-fill: white;
}

.table-view{
    -fx-base: #1d241f;
}

.column-header{
    -fx-font-size: 8;
    -fx-font-family: "Microstyle Bold Extended ATT";
    -fx-background-color: #1d241f;
}

.column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-cell {
    -fx-font-size: 10px;
    -fx-font-family: "Ariel";
    -fx-border-width: 0, 0;
    -fx-fill: white;
    -fx-focus-color: black;
}

.table-row-cell{
    //-fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 0 0;
    /*-fx-padding: 0.0em; */
}

/****************************************************************
 
  ScrollBar Skin  
 
****************************************************************/
/** CSS **/
/* The main scrollbar CSS class of ListView */
.scroll-bar:horizontal ,
  .scroll-bar:vertical{
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.increment-button , .decrement-button {
    -fx-background-color: transparent;
	-fx-border-color: #171c18;
}

/* The main scrollbar **track** CSS class  */
 .scroll-bar:horizontal .track ,
 .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	-fx-border-color: #171c18;
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
 .scroll-bar:horizontal .thumb,
 .scroll-bar:vertical .thumb {
    -fx-background-color: #171c18;
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}

/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */

 .scroll-bar:horizontal:hover .track ,
 .scroll-bar:horizontal:pressed .track ,
 .scroll-bar:vertical:hover .track,
 .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;

}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
 .scroll-bar .thumb:hover,
 .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

 .increment-button:hover , .decrement-button:hover {
    -fx-background-color: #222a24;
}
